DirectoryIndex index.php login.html index.html
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^panel/?$ index.html [L,QSA]
RewriteRule ^login/?$ login.html [L,QSA]
RewriteRule ^api/?(.*)$ api.php?path=$1 [QSA,L]
</IfModule>
